* {
  outline: 1px dotted red;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 40em;
  margin: 0 auto;
}

.config-container * {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

textarea {
  height: 10rem;
}

pre {
  margin: 0;
  padding: 0;
}
